input,textarea {
    display: block;
  }
  
  ul {
    li {
      color: red;
    }
  }

  .flex{
    display: flex;
    justify-content: space-around;
  }

  input, textarea {
    margin : 10px;
    width: 100%;
  }

  textarea {
    height: 100px;
  }